*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Outfit';
}

#main-container {
    max-width: 1440px;
    height: 900px;
    background-color: #1A2A33;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    top: 215px;    
}

#mid-portion {
    width: 460px;
    height: 205px;
    border-radius: 15px;
    background-color: #1F3641;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    top: 287px; 
}

#inner {
    width: 412px;
    height: 72px;
    background-color: #1A2A33;
    margin-left: auto;
    margin-right: auto;
    position: absolute; 
    left: 24px;
    top: 68px; 
    border-radius: 10px;
}

#player {
    position: absolute;
    width: 191px;
    height: 20px;
    top: 24px;
    left: 134.5px;
}

#player-1 {
    text-align: center;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    letter-spacing: 1px;
    color: #A8BFC9;
}