*{
    border: 0;
    outline: 0;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    font-size: 100%;
}

body {
    font-family: 'Outfit';
    background-color: #1A2A33;
}

.main-container {
    max-width: 1440px;
    max-height: 900px;
    background-color: #1A2A33;
}

.main-main {
    width:460px;
    height: 471px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
}

.main-main.hide {
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

.image {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
}


.mid-portion {
    width: 460px;
    height: 205px;
    border-radius: 15px;
    background-color: #1F3641;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    
}

.inner {
    width: 412px;
    height: 72px;
    background-color: #1A2A33; 
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inner-inner.active .slider{
    right: 50%;
    transition: all 0.3s ease-in;
}
.player {
    width: 191px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%;
}

.player p{
    text-transform: uppercase;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    text-align: center;
    letter-spacing: 1px;
    color: #A8BFC9;
    padding-top: 10px;
}

.player-2 {
    width: 193px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
}

.player-2 p {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 14px;
    line-height: 17.64px;
    letter-spacing: 0.88px;
    color: #A8BFC9;
    opacity: 50%;
}

.icon-x {
    filter: grayscale(90%) brightness(40%);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 107px;
    cursor: default;
    z-index: 5;
}

.slider {
    height: 54px;
    width: 198px;
    position: absolute;
    left: 20px;
    top: 9px;
    border-style: none;
    border-radius: 10px;
    background-color: #A8BFC9;
    z-index: 1;
}

.icon-o {
    filter: contrast(0%) brightness(40%);
    height: 31.74px;
    width: 31.74px;
    position: absolute;
    left: 70%;
    top: 22px;
    z-index: 3

}

.btn {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    margin-top: 220px;
}

.bot {
    height: 67px;
    width: 460px;
    border-radius: 15px;
    background-color: #F2B137;
    text-transform: uppercase;
    border-style: none;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    color: #1A2A33;
    box-shadow:inset 0px -8px 0px 0px #CC8B13;
}

#play {
    height: 67px;
    width: 460px;
    border-radius: 15px;
    background-color: #31C3BD;
    text-transform: uppercase;
    border-style: none;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    color: #1A2A33;
    box-shadow:inset 0px -8px 0px 0px #118C87;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.bot:hover {
    cursor: pointer;
    transform:scale(0.96)
}

.play:hover {
    cursor: pointer;
    transform:scale(0.96)
}

.play-board {
    max-width: 460px;
    height: 620px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
   display: none
   ;
}

.cont {
    position: absolute;
    left: 50%;
    top: -5%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.play-board .details {
    display: flex;
    margin: auto;
    margin-top: 139px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    height: 52px;
}

.play-board .details .logo {
    width: 71.97px;
    height: 32px;
}


.play-board .x-turn .btn {
    width: 140px;
    height: 52px;
    position: absolute;
    display: flex;
    left: 50%;
    top: -30%;
    transform: translate(-50%, -50%);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #A8BFC9;
    background-color: #1F3641;
    gap: 2px;
    box-shadow:inset 0px -4px 0px 0px #10212A;
}

.play-board .x-turn .parag{
    margin: 15px 15px 15px 0px;
}

.img{
    margin: 15px 15px 15px 30px;
}

.img {
    filter: grayscale(80%) contrast(100%) brightness(100%);
    height: 20px;
    width: 20px;
}

.img .active{
    content: url("icon-o.svg");
    filter: grayscale(80%) contrast(100%) brightness(100%);
    height: 20px;
    width: 20px;
}

.img.show {
    content:url("icon-o.svg");
    filter: grayscale(100%) contrast(100%) brightness(100%);
    height: 20px;
    width: 20px;
}

.play-board  .details button {
    height: 52px;
    width: 52px;
    left: 898px;
    top: 139px;
    border-radius: 10px;
    background-color: #A8BFC9;
    border: none;
}

.play-board  .details .restart {
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}

.restart-btn {
    position: relative;
}

.restart-btn .restart-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.res:hover {
    cursor: pointer;
    transform: scale(0.96);
}

.play-board .x-turn span {
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #A8BFC9;
    margin-left: 10px;
    margin-top: 8px;
}

.play-area section {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.play-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.play-area section button {
    position: relative;
    display: block;
    background-color: #1F3641;
    height: 140px;
    width: 140px;
    margin: 10px;
    box-shadow: 0px 8px 0px 0px #10212A;
    border-radius: 15px;
    cursor: pointer;
}

.box img{
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
}



.marks section {
    display: flex;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.marks section.show {
    opacity: 1;
    pointer-events: auto;
}

.marks section span {
    position: relative;
    display: block;
    background-color: #1F3641;
    height: 72px;
    width: 140px;
    margin: 10px;
    border-radius: 15px;
    padding-top: 15px;
}

.marks section .crate1 {
    background-color: #31C3BD;
}

.marks section .fig {
    text-align: center;
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.875px;
    color: #1A2A33;
}

.marks section .num1 {
    font-family: 'Outfit';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #1A2A33;
    transition: all 0.3s ease;
}
.marks section .num2 {
    font-family: 'Outfit';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #1A2A33;
    transition: all 0.3s ease;
}
.marks section .num3 {
    font-family: 'Outfit';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #1A2A33;
    transition: all 0.3s ease;
}
.marks section .crate2 {
    background-color: #A8BFC9;
    text-align: center;
}
.marks section .crate3 {
    background-color: #F2B137;
}

.popup {
    height: 266px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: #1F3641;
    display: none;
}

.popup .lost-pop {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.popup .lost-para {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #A8BFC9;
    margin-bottom: 10px;
}

.popup .lost-mid {
    display: flex;
}

.popup .lost-mid p{
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-align: left;
    color: #F2B137;
    margin-left: 10px;
    margin-top: 5px;
}

.popup img{
    height: 64px;
    width: 64px;
}

.popup .lost-btn {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.popup .lost-btn .lost-quit{
    height: 52px;
    width: 76px;
    border-radius: 10px;
    background-color: #A8BFC9;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color:#1A2A33;
    box-shadow:inset 0px -4px 0px 0px #6B8997;
}

.popup .lost-btn .lost-next {
    height: 52px;
    width: 146px;
    border-radius: 10px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
    letter-spacing: 1px;
    text-align: center;
    background-color: #F2B137;
    box-shadow:inset 0px -4px 0px 0px #CC8B13;
}

.popup .lost-btn .lost-quit:hover {
    cursor: pointer;
}

.popup .lost-btn .lost-next:hover {
    cursor: pointer;
}

.popup-x {
    height: 266px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: #1F3641;
    display: none;
}

.popup-x .win-pop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup-x .win-para {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #A8BFC9;
    margin-bottom: 10px;
}

.popup-x .win-mid {
    display: flex;
    margin-bottom: -30px;
}

.popup-x .win-mid p{
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-align: left;
    color: #F2B137;
    margin-left: 10px;
    margin-top: 5px;
}

.popup-x img{
    height: 64px;
    width: 64px;
}

.popup-x .win-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.popup-x .win-btn .win-quit{
    height: 52px;
    width: 76px;
    border-radius: 10px;
    background-color: #A8BFC9;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color:#1A2A33;
    box-shadow:inset 0px -4px 0px 0px #6B8997;
}

.popup-x .win-btn .win-next {
    height: 52px;
    width: 146px;
    border-radius: 10px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
    letter-spacing: 1px;
    text-align: center;
    background-color: #F2B137;
    box-shadow:inset 0px -4px 0px 0px #CC8B13;
}

.popup-x .win-btn .win-quit:hover {
    cursor: pointer;
}

.popup-x .win-btn .win-next:hover {
    cursor: pointer;
}


.restart {
    height: 266px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: #1F3641;
    display: none;
}

.restart .restart-pop {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.restart .restart-para {
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-align: center;
    color: #A8BFC9;
    margin-bottom: 10px;
}

.restart .restart-bt {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}



.restart .restart-bt .restart-quit{
    height: 52px;
    width: 139px;
    border-radius: 10px;
    background-color: #A8BFC9;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color:#1A2A33;
    box-shadow:inset 0px -4px 0px 0px #6B8997;
}

.restart .restart-bt .restart-next {
    height: 52px;
    width: 151px;
    border-radius: 10px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
    letter-spacing: 1px;
    text-align: center;
    background-color: #F2B137;
    box-shadow:inset 0px -4px 0px 0px #CC8B13;
}

.win-next .active:hover {
    background-color: #65E9E4;
    cursor: pointer;
    transform: scale(0.96);
    cursor: pointer;
}

.lost-next .active:hover {
    background-color: #FFC860;
    cursor: pointer;
    transform: scale(0.96);
    cursor: pointer;
}

.xboxblue {
    background-color: #31C3BD;
}

.oboxyellow {
    background-color: #F2B137;
}



/*@tablet-mode*/
@media screen and (max-width: 768px) and (min-width: 765px) {
    .popup .lost-mid {
        display: flex;
        width: 491px;
        height: 64px;
    }

    .popup-x .win-mid {
        display: flex;
        width: 491px;
        height: 64px;
    }
}


/*@mobile-mode*/
@media screen and (max-width: 375px){
    .main-main {
        width:327px;
        height: 429px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in;
        
    }

    .mid-portion {
        width: 327px;
        height: 205px;
        border-radius: 15px;
        background-color: #1F3641;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        
    }

    .slider {
        height: 54px;
        width: 131.99px;
        left: 50%;
        top: 9px;
    }

    .inner {
        width: 279px;
        height: 72px;
    }

    .icon-x {
        left: 58px;
    
    }

    .bot {
        height: 56px;
        width: 327px;
        font-size: 16px;
        line-height: 20.16px;
    }

    #play {
        height: 56px;
        width: 327px;
        font-size: 16px;
        line-height: 20.16px;
    }

    .play-board {
        max-width: 328px;
        height: 516px;  
    }

    .play-area section button {
        height: 96px;
        width: 96px;
    }

    .play-board .details {
        width: 328px;
        height: 40px;
    }

    .marks section span {
        position: relative;
        display: block;
        background-color: #1F3641;
        height: 64px;
        width: 96px;
        margin: 10px;
        border-radius: 15px;
        padding-top: 15px;
    }

    .marks section .fig {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.75px;
    }
    

    .marks section .num1{
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 1.25px;
    }
    .marks section .num2{
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 1.25px;
    }
    .marks section .num3{
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 1.25px;
    }

    .box img{
        width: 40px;
        height: 40px;
    }

    .popup .lost-mid {
        width: 290px;
        height: 30px;
    }

    .popup .lost-mid p{
        font-family: Outfit;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 1.5px;
        text-align: left;
        margin-top: 0px;
    }

    .popup img{
        height: 30px;
        width: 30px;
    }

    .popup .lost-para {
        font-family: Outfit;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.875px;
        text-align: center;

    }

    .popup-x .win-mid {
        width: 290px;
        height: 30px;
    }

    .popup-x img{
        height: 40px;
        width: 40px;
    }

    .popup-x .win-mid p{
        font-family: "Outfit";
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 1.5px;
        text-align: left;
        margin-top: 0px;
    }

    .popup-x img{
        height: 30px;
        width: 30px;
    }

    .popup-x .win-para {
        font-family: Outfit;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.875px;
        text-align: center;

    }

    .restart .restart-para p{
        font-family: "Outfit";
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .restart .restart-para {
        width: 279px;
        height: 30px;
    }
}